:root {
  --color-neutral-50: #fafafa;
  --color-neutral-200: #e5e5e5;
  --color-neutral-700: #404040;
  --color-neutral-800: #262626;
  --color-neutral-900: #171717;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  user-select: none;
  margin: 0 1.5rem;
  background: var(--color-neutral-900);
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  color: var(--color-neutral-200);
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 10000;
  display: flex;
  align-items: center;
  padding: 0.5rem 1.5rem;
  border-bottom: 1px solid var(--color-neutral-700);
  box-shadow: 0 0.25em 0.25em #1c191750;
  background-color: #171717c0; /* --color-neutral-900 */
  backdrop-filter: blur(14px);
}

aside h1 {
  font-size: 1em;
}

aside input {
  font-size: 14px;
  margin: 0 1.5rem;
  border: none;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  width: 25em;
}

aside span {
  color: var(--color-neutral-50);
  font-size: 15px;
}

main {
  transition: transform 0.8s ease;
}

main figure {
  width: calc(20% - 1rem);
  margin: 0;
}

main figure.placeholder {
  min-height: 12em;
  border-radius: 4px;
  background-color: var(--color-neutral-800);
}

main img {
  width: 100%;
  margin-bottom: 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: ease-out 500ms;
}

main img:hover {
  transform: scale(1.05);
  transition: ease-in-out 100ms;
}
