@keyframes pulsate {
  0% {
    opacity: 0.25;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.25;
  }
}

@keyframes rainbow {
  from {
    fill: rgb(255, 255, 255);
  }

  14.29% {
    fill: rgb(255, 0, 255);
  }

  28.57% {
    fill: rgb(0, 255, 255);
  }

  42.86% {
    fill: rgb(0, 255, 0);
  }

  57.14% {
    fill: rgb(255, 255, 0);
  }

  71.43% {
    fill: rgb(255, 0, 0);
  }

  to {
    fill: rgb(255, 255, 255);
  }
}

:root {
  --color-neutral-50: #fafafa;
  --color-neutral-200: #e5e5e5;
  --color-neutral-600: #525252;
  --color-neutral-700: #404040;
  --color-neutral-800: #262626;
  --color-neutral-900: #171717;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  user-select: none;
  margin: 0 20px;
  background: var(--color-neutral-900);
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  color: var(--color-neutral-200);
}

header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 10000;
  display: flex;
  align-items: center;
  padding: 8px 20px;
  border-bottom: 1px solid var(--color-neutral-700);
  box-shadow: 0 5px 5px #1c191750;
  background-color: #171717f0; /* --color-neutral-900 */
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
}

header label {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 25px;
}

header label svg {
  width: 16px;
  left: 10px;
  position: absolute;
  fill: var(--color-neutral-800);
}

header label input {
  font-size: 14px;
  width: 22em;
  border: none;
  border-radius: 50px;
  padding: 7px 15px 7px 35px;
}

header div {
  flex-grow: 1;
  visibility: hidden;
}

header div cite {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--color-neutral-50);
}

header div ul {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  margin: 1px 0 0 0;
  padding: 0;
  list-style: none;
}

header div ul li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

header div ul li:not(:last-child) {
  margin-right: 15px;
}

header div ul li#date {
  width: 12%;
}

header div ul li#collection {
  width: 25%;
}

header div ul li#author {
  width: 20%;
}

header div ul li#material {
  width: 11%;
}

header div ul li#procedure {
  width: 24%;
}

header div ul li#link {
  width: 8%;
}

header div ul li svg {
  vertical-align: middle;
  height: 17px;
  stroke: currentColor;
  stroke-width: 2px;
  fill: none;
}

header div ul li svg path {
  stroke-linecap: round;
  stroke-linejoin: round;
}

header div ul li span {
  vertical-align: middle;
}

header div ul li a {
  color: inherit;
  text-decoration: none;
}

header button {
  outline: none;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

header button svg {
  fill: white;
  height: 20px;
  vertical-align: middle;
  transition: transform 0.8s ease;
}

header button:hover svg {
  transform: scale(1.25);
}

header button:hover svg path.ink {
  animation: rainbow 30s linear 0s infinite;
}

main {
  transition: transform 0.8s ease;
}

main figure {
  width: calc(25% - 15px);
  margin: 0;
  box-sizing: border-box;
}

main figure.placeholder img {
  height: 250px;
  border: none;
  background: var(--color-neutral-800);
  animation: pulsate 2s ease-in-out infinite;
}

main img {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 4px;
  transition: ease-out 500ms;
  transition-delay: 250ms;
}

main figure:not(.placeholder) {
  cursor: pointer;
}

main:not(.zoomed) figure:not(.placeholder) img:hover {
  transform: scale(1.025);
  transition: cubic-bezier(0.22, 1, 0.36, 1) 100ms;
}

@media (max-width: 1024px) {
  main figure {
    width: calc(100% / 3 - 15px);
  }
}

@media (max-width: 640px) {
  main figure {
    width: calc(50% - 10px);
  }
}
