@import url(../typography.css);
@import url(../system.css);

:root {
  --type-base: calc(0.75em + 0.5vw);
  --switch-size: 1.5em;
  --bleed: var(--space-x-large);
  --padding: var(--space-xx-large);

  font-size: 16px;
  font-variant-numeric: oldstyle-nums;
  line-height: var(--line-height-normal);
  color-scheme: dark light;
  color: var(--color-text);
  cursor: default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Inspirado en basecamp.com */
:root {
  --color-accent: #c71585;
  --color-background: #fbf7f0;
  --color-panel: white;
  --color-panel-components: 255, 255, 255;
  --color-heading: #0d1a26;
  --color-link: #c71585;
  --color-highlight: #222222;
  --color-highlight-inverted: #ffffff;
  --color-text: #274059;
  --color-text-pale: #707f8d;
  --color-line: #e3dedc;
  --color-warning: #fdba74;
  --color-backdrop: #000000d9;
}

/* Inspirado en Smashing Magazine */
@media screen {
  :root[data-theme='dark'] {
    --color-accent: #ccec88;
    --color-background: #0d2630;
    --color-panel: #19313c;
    --color-panel-components: 25, 49, 60;
    --color-heading: #ffffff;
    --color-link: #ccec88;
    --color-highlight: #ffffff;
    --color-highlight-inverted: #0a1e26;
    --color-text: #dfdfdf;
    --color-text-pale: #999;
    --color-line: #244654;
    --color-warning: #7f1d1d;
    --color-backdrop: #0d2630f2;
  }
}

body {
  margin: 0;
  font-family: var(--font-serif);
  font-size: var(--type-base);
  letter-spacing: 0.025em;
  background: var(--color-background);
}

body {
  /* max-width: var(--line-width-wide); */
  margin: auto;
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
}

/******************************************************************************/

html {
  --gap: 20px;
  --panel-width: 350px;
  --header-height: 55px;

  margin: 0 var(--space-medium);
  font-family: 'Inter var', sans-serif;
  font-weight: 300;
  scroll-behavior: smooth;
  /* user-select: none; */
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 1;
  box-sizing: border-box;
  align-items: center;
  border-bottom: 1px solid var(--color-line);
  box-shadow: 0 5px 5px #1c191750;
  background-color: rgba(var(--color-panel-components), 0.85);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

header rs-title {
  flex-grow: 1;
  overflow: hidden;
}

header rs-search {
  flex-shrink: 0;
}

header rs-menu {
  flex-shrink: 0;
}

rs-help {
  display: flex;
  margin-top: var(--header-height);
}

@media (max-width: 1536px) {
}

@media (max-width: 1280px) {
  html {
    --gap: 16px;
  }

  header rs-logo {
    display: none;
  }
}

@media (max-width: 1024px) {
  html {
    --gap: 14px;
    --panel-width: 280px;
  }
}

@media (max-width: 768px) {
  html {
    --panel-width: 100%;
    --header-height: 50px;
  }
}

@media (max-width: 640px) {
  html {
    --header-height: 45px;
  }
}

/******************************************************************************/

::selection {
  background-color: var(--color-highlight);
  color: var(--color-highlight-inverted);
}

strong {
  font-weight: bold;
  color: var(--color-highlight);
}

a {
  color: var(--color-link);
  text-decoration: 0.075em underline;
  text-underline-offset: var(--space-x-small);
}

a:hover {
  text-decoration: 0.075em underline double;
}

a[href^='http'] {
  text-decoration: inherit;
  color: inherit;
}

a[href^='http']::after {
  content: '°';
  position: relative;
  top: -0.2em;
  color: var(--color-accent);
}

a[href^='http']:hover {
  text-decoration: none;
  background: var(--color-highlight-inverted);
}

a strong {
  color: inherit;
}

span.roman {
  font-variant-caps: all-small-caps;
}

abbr {
  font-variant-caps: all-small-caps;
  font-variant-numeric: oldstyle-nums;
}

abbr[title],
span[title] {
  cursor: help;
}

ins {
  text-decoration: none;
  color: var(--color-highlight);
}

del {
  text-decoration: underline;
  text-underline-offset: -30%;
  text-decoration-skip-ink: none;
  color: var(--color-text-pale);
}

del strong {
  color: inherit;
}

del a {
  text-decoration: none !important;
}

i,
em {
  font-style: italic;
}

cite {
  font-style: inherit;
  font-variant: small-caps;
}

dfn {
  font-style: normal;
  text-decoration: underline dashed;
  text-underline-offset: var(--space-x-small);
}

x-term,
span.dfn {
  font-size: var(--type-x-small);
}

span.dfn {
  text-transform: uppercase;
  vertical-align: super;
}

span.dfn::before {
  content: '[';
}

span.dfn::after {
  content: ']';
}

hr {
  margin-top: var(--space-xx-large);
  border: none;
  overflow: visible;
}

figure {
  text-align: center;
}

figcaption {
  margin: var(--space-small) auto;
  font-size: var(--type-x-small);
  text-align: center;
}

h1 {
  font-style: italic;
  letter-spacing: 0;
}

h2 {
  font-size: var(--type-large);
  margin: var(--space-large) 0 0 0;
  line-height: var(--line-height-condensed);
  color: var(--color-heading);
}

blockquote footer {
  text-align: right;
}

blockquote footer b {
  font-weight: inherit;
  font-style: normal;
  font-variant: small-caps;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

:is(ol, ul) li {
  position: relative;
  padding-left: var(--bleed);
}

ol {
  counter-reset: number;
}

ol li::before {
  position: absolute;
  content: counter(number);
  top: -0.125em;
  left: 0;
  font-size: var(--type-large);
  font-family: 'Numbered';
  letter-spacing: 0;
  counter-increment: number;
  font-style: normal;
}

ul li::before {
  position: absolute;
  content: '–';
  top: -0.15em;
  left: 0;
  font-size: var(--type-large);
}

code {
  background: var(--color-highlight-inverted);
}

x-details div[slot='summary'] {
  font-style: italic;
  color: var(--color-link);
}
