@import url('../typography.css');
@import url('../system.css');
@import url('../shared.css');

html {
  --type-base: calc(0.75rem + 0.5vw);
  --image-gap: 4px;
  --panel-width: 380px;
  --menu-width: 480px;
  --header-height: 64px;
  --panel-blur: 10px;

  /* Inspirado en Smashing Magazine */
  &[data-theme='dark'] {
    --color-accent: #ccec88;
    --color-background: #0d2630;
    --color-panel: #19313cd9;
    --color-heading: #fff;
    --color-link: #ccec88;
    --color-highlight: #fff;
    --color-highlight-inverted: #0a1e26;
    --color-search-background: #0a1e26;
    --color-search-placeholder: #707f8d;
    --color-search-highlighted: #dfdfdf;
    --color-text: #dfdfdf;
    --color-text-pale: #999;
    --color-line: #244654;
    --color-warning: #7f1d1d;
    --color-box-shadow: #1c191750;
    --color-backdrop: #0d2630f2;
  }

  /* Inspirado en basecamp.com */
  &[data-theme='light'] {
    --color-accent: #c71585;
    --color-background: #fbf7f0;
    --color-panel: #ffffffd9;
    --color-heading: #0d1a26;
    --color-link: #c71585;
    --color-highlight: #222;
    --color-highlight-inverted: #fff;
    --color-search-background: #eee;
    --color-search-placeholder: #707f8d;
    --color-search-highlighted: #fff;
    --color-text: #274059;
    --color-text-pale: #707f8d;
    --color-line: #e3dedc;
    --color-warning: #fdba74;
    --color-box-shadow: #1c191750;
    --color-backdrop: #000000d9;
  }

  font-family: var(--font-serif);
  font-variant-numeric: oldstyle-nums;
  line-height: var(--line-height-normal);
  text-align: justify;
  letter-spacing: 0.025em;
  hyphens: auto;
  color-scheme: dark light;
}

strong {
  font-weight: bold;
  color: var(--color-highlight);
}

a {
  color: var(--color-link);
  text-decoration: 0.075em underline;
  text-underline-offset: var(--space-x-small);

  &:hover {
    text-decoration: 0.075em underline double;
  }

  &[href^='http'] {
    color: inherit;
    text-decoration: inherit;

    &:hover {
      text-decoration: none;
      background: var(--color-highlight-inverted);
    }

    &::after {
      position: relative;
      top: -0.2em;
      color: var(--color-accent);
      content: '°';
    }
  }

  strong {
    color: inherit;
  }
}

i,
em {
  font-style: italic;
}

h1 {
  font-style: italic;
  letter-spacing: 0;
}

h2 {
  margin: var(--space-large) 0 0 0;
  font-size: var(--type-large);
  line-height: var(--line-height-condensed);
  color: var(--color-heading);
}

ol,
ul {
  padding: 0;
  list-style: none;
}

:is(ol, ul) li {
  position: relative;
  padding-left: var(--space-x-large);
}

ol {
  counter-reset: number;

  li::before {
    position: absolute;
    top: -0.125em;
    left: 0;
    font-family: Numbered, sans-serif;
    font-size: var(--type-large);
    font-style: normal;
    letter-spacing: 0;
    content: counter(number);
    counter-increment: number;
  }
}

ul li::before {
  position: absolute;
  top: -0.15em;
  left: 0;
  font-size: var(--type-large);
  content: '–';
}
