@import url('../typography.css');
@import url('../system.css');

:root {
  /* Parte de la paleta de Tailwind */

  /* Véase https://tailwindcss.com/docs/customizing-colors */
  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e5e5e5;
  --color-neutral-300: #d4d4d4;
  --color-neutral-400: #a3a3a3;
  --color-neutral-500: #737373;
  --color-neutral-600: #525252;
  --color-neutral-700: #404040;
  --color-neutral-800: #262626;
  --color-neutral-900: #171717;
  --color-yellow-500: #eab308;
  --color-red-600: #dc2626;

  /* Retrogipuzkoa */
  --color-accent: var(--color-neutral-50);
  --color-background: var(--color-neutral-900);
  --color-panel-components: 23, 23, 23; /* --color-neutral-900 */
  --color-panel: rgba(var(--color-panel-components), 0.9);
  --color-heading: var(--color-neutral-100);
  --color-link: var(--color-neutral-50);
  --color-highlight: var(--color-neutral-100);
  --color-highlight-inverted: var(--color-neutral-900);
  --color-text: var(--color-neutral-300);
  --color-text-pale: var(--color-neutral-400);
  --color-line: var(--color-neutral-700);
  --color-warning: var(--color-yellow-500);
  --color-backdrop: rgba(var(--color-panel-components), 0.9);
}

html {
  --gap: 16px;
  --image-gap: 4px;
  --panel-width: 22em;
  --header-height: 64px;

  margin: 0 var(--gap);
  font-family: 'Inter var', sans-serif;
  font-weight: 300;
  color: var(--color-text);
  user-select: none;
  background: var(--color-background);
  scroll-behavior: smooth;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--header-height);
  background-color: #171717f0;
  backdrop-filter: blur(14px);
  border-bottom: 1px solid var(--color-line);
  box-shadow: 0 5px 5px #1c191750;

  rs-title {
    flex-grow: 1;
    overflow: hidden;
  }

  rs-search {
    flex-shrink: 0;
  }

  rs-menu {
    flex-shrink: 0;
  }
}

rs-help {
  display: flex;
  margin-top: var(--header-height);
}

@media (width <= 1280px) {
  html {
    --gap: 12px;
    --header-height: 58px;
  }

  header rs-logo {
    display: none;
  }
}

@media (width <= 1024px) {
  html {
    --panel-width: 20em;
    --header-height: 48px;
  }
}

@media (width <= 768px) {
  html {
    --panel-width: 100%;
  }
}

@media (width <= 640px) {
  html {
    --header-height: 42px;
  }
}
