@import url(../typography.css);
@import url(../system.css);

:root {
  /* Parte de la paleta de Tailwind */
  /* Véase https://tailwindcss.com/docs/customizing-colors */
  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e5e5e5;
  --color-neutral-300: #d4d4d4;
  --color-neutral-400: #a3a3a3;
  --color-neutral-500: #737373;
  --color-neutral-600: #525252;
  --color-neutral-700: #404040;
  --color-neutral-800: #262626;
  --color-neutral-900: #171717;
  --color-yellow-500: #eab308;
  --color-red-600: #dc2626;

  --gap: var(--space-x-small);
  --panel-width: 22em;
  --header-height: var(--space-x-large);
}

:root {
  --color-accent: var(--color-neutral-50);
  --color-background: var(--color-neutral-900);
  --color-panel-components: 23, 23, 23; /* --color-neutral-900 */
  --color-panel: rgba(var(--color-panel-components), 0.9);
  --color-heading: var(--color-neutral-100);
  --color-link: var(--color-neutral-50);
  --color-highlight: var(--color-neutral-100);
  --color-highlight-inverted: var(--color-neutral-900);
  --color-text: var(--color-neutral-300);
  --color-text-pale: var(--color-neutral-400);
  --color-line: var(--color-neutral-700);
  --color-warning: var(--color-yellow-500);
  --color-backdrop: rgba(var(--color-panel-components), 0.9);
}

html {
  margin: 0 var(--space-medium);
  font-family: 'Inter var', sans-serif;
  font-weight: 300;
  background: var(--color-background);
  color: var(--color-text);
  scroll-behavior: smooth;
  user-select: none;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 1;
  box-sizing: border-box;
  align-items: center;
  border-bottom: 1px solid var(--color-line);
  box-shadow: 0 5px 5px #1c191750;
  background-color: #171717f0;
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
}

header rs-title {
  flex-grow: 1;
  overflow: hidden;
}

header rs-search {
  flex-shrink: 0;
}

header rs-menu {
  flex-shrink: 0;
}

rs-help {
  display: flex;
  margin-top: var(--header-height);
}

@media (max-width: 1536px) {
}

@media (max-width: 1280px) {
  html {
    --gap: 8px;
  }

  header rs-logo {
    display: none;
  }
}

@media (max-width: 1024px) {
  html {
    --gap: 6px;
    --panel-width: 280px;
  }
}

@media (max-width: 768px) {
  html {
    --panel-width: 100%;
    --header-height: 50px;
  }
}

@media (max-width: 640px) {
  html {
    --header-height: 45px;
  }
}
