@import url('../typography.css');
@import url('../system.css');
@import url('../shared.css');

html {
  /* De https://tailwindcss.com/docs/customizing-colors */
  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e5e5e5;
  --color-neutral-300: #d4d4d4;
  --color-neutral-400: #a3a3a3;
  --color-neutral-500: #737373;
  --color-neutral-600: #525252;
  --color-neutral-700: #404040;
  --color-neutral-800: #262626;
  --color-neutral-900: #171717;
  --color-yellow-500: #eab308;
  --color-red-600: #dc2626;

  /* Retrosantander */
  --color-accent: var(--color-neutral-50);
  --color-background: var(--color-neutral-900);
  --color-panel: color-mix(in srgb, var(--color-neutral-900) 95%, transparent);
  --color-link: var(--color-neutral-50);
  --color-link-hover: var(--color-neutral-900);
  --color-highlight: var(--color-neutral-100);
  --color-highlight-inverted: var(--color-neutral-900);
  --color-search-text: var(--color-neutral-900);
  --color-search-background: var(--color-neutral-300);
  --color-search-placeholder: var(--color-neutral-500);
  --color-search-highlighted: var(--color-neutral-50);
  --color-search-selected-background: var(--color-neutral-300);
  --color-search-selected-color: var(--color-neutral-900);
  --color-area-face: var(--color-yellow-500);
  --color-area-object: var(--color-red-600);
  --color-text: var(--color-neutral-300);
  --color-text-muted: var(--color-neutral-400);
  --color-border: var(--color-neutral-700);
  --color-box-shadow: color-mix(
    in srgb,
    var(--color-neutral-900) 35%,
    transparent
  );
  --color-backdrop: color-mix(
    in srgb,
    var(--color-neutral-900) 90%,
    transparent
  );

  /* Otros */
  --type-base: calc(0.75rem + 0.5vw);
  --image-gap: 4px;
  --panel-width: 380px;
  --menu-width: 480px;
  --header-height: 64px;
  --panel-blur: 14px;
}

rs-header > a {
  margin-top: 5px;
}
