::selection {
  color: var(--color-highlight-inverted);
  background-color: var(--color-highlight);
}

html {
  margin: 0 var(--image-gap);
  font-family: var(--font-sans);
  font-size: var(--type-base);
  font-weight: 300;
  color: var(--color-text);
  cursor: default;
  background-color: var(--color-background);
  scroll-behavior: smooth;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:lang(es),
  &:lang(eu) {
    quotes: '«' '»' '“' '”';
  }

  &:lang(fr) {
    quotes: '«\202F' '\202F»' '“' '”';
  }

  &:lang(en) {
    quotes: '“' '”' '‘' '’';
  }
}

body {
  margin: 0;
  line-height: var(--line-height-normal);

  &:not(:has(rs-explorer)) rs-search {
    display: none;
  }
}

main {
  margin-top: var(--header-height);
}

strong {
  font-weight: bold;
  color: var(--color-highlight);
}

a {
  font-weight: 800;
  color: var(--color-link);
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;

  &:hover {
    color: var(--color-link-hover);
    text-decoration: none;
    background-color: var(--color-link);
  }

  strong {
    color: inherit;
  }
}

h1 {
  margin: 0;
  font-size: var(--type-x-large);
  color: var(--color-highlight);
}

h1,
ul,
p {
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

abbr {
  cursor: help;
}

rs-header > a {
  flex-shrink: 0;
  height: 40px;
  padding: 0 var(--space-medium);
  line-height: var(--header-height);
  color: inherit;
  transition: var(--delay-medium) var(--ease-1);

  &:hover {
    color: var(--color-highlight);
    background-color: inherit;
    transform: scale(1.035);
  }
}

rs-menu {
  :is(p, li) {
    text-align: justify;
    hyphens: auto;
  }

  h1 {
    padding: 0 var(--space-medium);
    margin: var(--space-large) calc(-1 * var(--space-medium)) 0;
    font-size: var(--type-medium);
    line-height: var(--line-height-normal);
    color: var(--color-highlight-inverted);
    background: var(--color-text);

    &:first-of-type {
      margin-top: calc(-1 * var(--space-medium));
    }
  }

  :is(p, ul) {
    font-size: var(--type-small);
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: var(--space-small);
    padding: 0;
    list-style: none;

    li {
      display: flex;
      gap: var(--space-small);

      rs-icon {
        width: 1.25em;
        height: calc(1em * var(--line-height-normal));
      }
    }
  }
}

@media (width <= 1280px) {
  :root {
    --header-height: 58px;
  }
}

@media (width <= 1024px) {
  :root {
    --panel-width: 20em;
    --header-height: 48px;
  }
}

@media (width <= 768px) {
  :root {
    --panel-width: 100%;
  }
}

@media (width <= 640px) {
  :root {
    --header-height: 42px;
  }
}
