::selection {
  color: var(--color-highlight-inverted);
  background-color: var(--color-highlight);
}

html {
  margin: 0 var(--image-gap);
  font-family: var(--font-sans);
  font-size: var(--type-base);
  font-weight: 300;
  color: var(--color-text);
  cursor: default;
  background-color: var(--color-background);
  scroll-behavior: smooth;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:lang(es),
  &:lang(eu) {
    quotes: '«' '»' '“' '”';
  }

  &:lang(fr) {
    quotes: '«\202F' '\202F»' '“' '”';
  }

  &:lang(en) {
    quotes: '“' '”' '‘' '’';
  }
}

body {
  margin: 0;
  line-height: var(--line-height-normal);
}

rs-header > a {
  flex-shrink: 0;
  height: 40px;
  padding: 0 var(--gap);
  line-height: var(--header-height);
  color: inherit;
  transition: var(--delay-medium) var(--ease-1);

  &:hover {
    color: var(--color-highlight);
    background-color: inherit;
    transform: scale(1.035);
  }
}

main {
  margin-top: var(--header-height);
}

h1 {
  margin: 0;
  font-size: var(--type-x-large);
  color: var(--color-highlight);
}

:is(h1, p, ul) {
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

abbr {
  cursor: help;
}

a {
  font-weight: 800;
  color: inherit;
  text-underline-offset: 3px;

  &:hover {
    color: var(--color-background);
    text-decoration: none;
    background-color: var(--color-text);
  }
}

@media (width <= 1280px) {
  html {
    --gap: 12px;
    --header-height: 58px;
  }

  rs-header > a {
    display: none;
  }
}

@media (width <= 1024px) {
  html {
    --panel-width: 20em;
    --header-height: 48px;
  }
}

@media (width <= 768px) {
  html {
    --panel-width: 100%;
  }
}

@media (width <= 640px) {
  html {
    --header-height: 42px;
  }
}
