/*
  Merriweather, en una versión más actual que la que ofrece Google Fonts.
  Entre otras mejoras, incorpora las versalitas.
  Véase https://github.com/SorkinType/Merriweather
*/

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Merriweather Light Italic'), local('Merriweather-LightItalic'),
    url(/assets/fonts/Merriweather-LightItalic.woff2) format('woff2');
}

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Merriweather Italic'), local('Merriweather-Italic'),
    url(/assets/fonts/Merriweather-Italic.woff2) format('woff2');
}

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Merriweather Bold Italic'), local('Merriweather-BoldItalic'),
    url(/assets/fonts/Merriweather-BoldItalic.woff2) format('woff2');
}

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: local('Merriweather Black Italic'), local('Merriweather-BlackItalic'),
    url(/assets/fonts/Merriweather-BlackItalic.woff2) format('woff2');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Merriweather Light'), local('Merriweather-Light'),
    url(/assets/fonts/Merriweather-Light.woff2) format('woff2');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Merriweather Regular'), local('Merriweather-Regular'),
    url(/assets/fonts/Merriweather-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Merriweather Bold'), local('Merriweather-Bold'),
    url(/assets/fonts/Merriweather-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Merriweather Black'), local('Merriweather-Black'),
    url(/assets/fonts/Merriweather-Black.woff2) format('woff2');
}

/*
  Inter, de Rasmus Andersson, en su versión variable.
  Véase https://rsms.me/inter/
*/

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url(/assets/fonts/Inter-roman.var.woff2) format('woff2');
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url(/assets/fonts/Inter-italic.var.woff2) format('woff2');
}

/*
  La tipografía para las listas numeradas (`<ol>`).
*/

@font-face {
  font-family: 'Numbered';
  font-weight: normal;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
  src: url(/assets/fonts/Numbered.woff2) format('woff2');
}
